button{
    background-color: blueviolet;
    width: 100px;
    height: 40;
    border-radius: 16px;
    background-color: var(--main);
    border:none;
    color:var(--white);
    cursor:pointer;
}

button:hover{
    border:1px solid var(--main);
    background-color: var(--white);
    color:var(--main)
}