.product{
    background-color: var(--card-background);
    width: 220px;
    padding: 20px 16px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.product__img{
    border-radius: 12px;
    display: block;
    margin: auto
}

.product__details{
    border: 1px soliid red;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    color: var(--text);
}

.product__name{
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
    color:var(--text)
}

.product__oldPrice{
    text-decoration: line-through;
}

.product__price{
    font-weight: bold;
}