*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --main:#D93636;
    --secibdary:#D93240;
    --white: #fff;
    --card-background: #f2f2fe;
    --text: #403f37;
    --container: #BFBFBF;
  }

  
  body {
    font-family:  'Sans-Serif';
    background-color: var(--text);
  }

  